@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html, body {
    height: 100%;
    width: 100%;
}


/* Custom class for Ewert font */
.ewert-regular {
    font-family: "Ewert", system-ui, sans-serif; /* Add sans-serif fallback */
    font-weight: 400;
    font-style: normal;
}

.PokeCard {
    perspective: 1000px; /* Add perspective to create a 3D effect */
}

.PokeCard:hover .PokeImage {
    transform: scale(1.2) rotateX(10deg) rotateY(10deg) translateZ(20px); /* Add 3D transformations */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

  
